<form action="/login?redirect=/admin" method="POST">
  <h2>Please sign in...</h2>
  <input type="text" placeholder="User Name" name="userName">
  <br/>
  <br/>
  <input type="password" placeholder="Password" name="password">
  <br/>
  <br/>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
</form>
