<!-- Default home page -->
<form action="/runs/download" method="GET">
  <input type="submit" value="Download Student Data"></input>
</form>
<br/>
<br/>
<form action="/runs/erase" method="POST">
  <input type="submit" value="Erase All Student Data"></input>
</form>